.section-gallery {
    position: relative;
}

.section-gallery figure {
    display: block;
}

.section-gallery header {
    position: absolute;
    width: 100%;
    text-align: center;
}

.section-gallery header h2 {
    font-size: 3vw;
}

.section-gallery figure img {
    width: 50%;
    display: block;
    margin: auto;

}

#gallery_back {
    position: absolute;
    width: 10%;
    z-index: 5;
    bottom: 45%;
    left: 0;
    transform: rotate(90deg);
    cursor: pointer;
}

#gallery_forward {
    position: absolute;
    width: 10%;
    z-index: 5;
    bottom: 45%;
    right: 0;
    transform: rotate(270deg);
    cursor: pointer;
}

@media (max-width: 1000px) {
    .section-gallery figure img {
        width: 100%;
        display: block;
        margin: auto;
    
    }
    
}
